<%- include ('partials/head.ejs') %>
<body>
    <%- include ('partials/navbar.ejs') %>

    <div class="container">

        <div id="title">
            <h1 style="font-size: 3.5em;">Qual é a sua dúvida?</h1>
            <a href="/perguntar" class="btn btn-info" style="font-size: 1.2em;">Faça a sua pergunta</a>
        </div>

        <% perguntas.forEach( pergunta => {%>
            <br>
            <div class="card">
                <div class="card-body">
                    <h5><%- pergunta.titulo%></h5>
                    <p><%- pergunta.descricao%></p>
                </div>
                <div class="card-footer">
                    <a href="/pergunta/<%- pergunta.id%>">
                        <button class="btn btn-info">Responder</button>
                    </a>
                </div>
            </div>
        <%});%>

    </div>
    
</body>
<%- include ('partials/end.ejs') %>