<%- include ('partials/head.ejs') %>
<body>
    <%- include ('partials/navbar.ejs') %>

    <div class="container">
        <hr>
        <h1> <%- pergunta.titulo%> </h1>
        <p> <%- pergunta.descricao%> </p>
        <hr>

        <br>
        <div class="card">
            <div class="card-header">
                <h2>Responda</h2>
            </div>
            <form method="post" action="/responder">
                <div class="card-body">
                    <textarea name="corpo" class="form-control" placeholder="Digite a sua resposta"></textarea><br>
                    <input type="hidden" name="pergunta" value="<%-pergunta.id%>">
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary">Reponder</button>
                </div>
            </form> 
        </div><br>

        <hr><h3>Respostas</h3><hr><br>
        <% respostas.forEach( resposta => {%>
            <div class="card">
                <div class="card-body">
                    <p><%-resposta.corpo%></p>
                </div>
            </div>
            <br>
        <%});%>

    </div>
    
</body>
<%- include ('partials/end.ejs') %>